.header{
	
	background-color:  #4da6ff;

}
.kanan{
	float:right;
}
.header h1{

	background: #0000;
	font-family: arial;
	color: #ffff;

	float: right;
	text-align: right;
	
}
.header h1 small{
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.menu {
	background-color: #ddd;

    
}
.menu li{
	display: inline;
    
}
.content{

	
	background-color: grey;
}